server:
  port: 8100

spring:
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: local


  datasource:
    url: jdbc:postgresql://localhost:5432/oneforlogis_user
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  data:
    redis:
      host: localhost # 또는 컨테이너 이름
      port: 6379
      password:

  application:
    name: user-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info



logging:
  level:
    org.springframework: INFO



server:
  port: 8100


jwt:
  secret:
    key: ${JWT_SECRET_KEY}

  admin:
    token: ${JWT_ADMIN_TOKEN}