server:
  port: 8100

spring:
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: local


  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${USER_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  data:
    redis:
      host: ${REDIS_HOST:localhost} # 또는 컨테이너 이름
      port: ${REDIS_PORT:6379}
      password:

  application:
    name: user-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info



logging:
  level:
    org.springframework: INFO

springdoc:
  swagger-ui:
    path: /api/v1/users/
  api-docs:
    path: /api/v1/users/v3/api-docs

jwt:
  secret:
    key: ${JWT_SECRET_KEY}

  admin:
    token: ${ADMIN_TOKEN}