server:
  port: 8600

spring:
  application:
    name: delivery-service

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${DELIVERY_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  kafka:
    listener:
      auto-startup: false
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.kafka.KafkaAutoConfiguration
      - org.springframework.cloud.netflix.eureka.EurekaClientAutoConfiguration

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://eureka-server:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.apache.kafka.clients.NetworkClient: ERROR
    com.netflix.discovery: WARN
    org.springframework: INFO